= simple_form_for @user, url: registrations_path do |f|
  = f.input :email, label: false, input_html: {placeholder: 'E-mail'}
  = f.input :username, label: false, input_html: {placeholder: 'Username'}
  = f.submit 'Signup and send login link'